<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @youtube_post.title %>
</p>

<%= raw @youtube_post.content.to_plain_text  %>

<%= link_to 'Edit', edit_youtube_post_path(@youtube_post) %> |
<%= link_to 'Back', youtube_posts_path %>
