<% provide(:title, "Home") %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<section class="conA">
    <div class="bgImg src1"></div>
    <div class="bgImg src2"></div>
    <div class="bgImg src3"></div>
    <div class="logoh">
      <%= image_tag 'logo.png', class: 'logo' %>
      <h1>明治大学</h1><h1>アナウンス研究会</h1>
      <p class="banner-text">明治大学公認サークル</p>
    </div>
</section>

<div class="space-64">
    
</div>

<section class="conB">
  <div class="container">
      <h2>明治大学アナウンス研究会とは</h2>
          <div class="about">
                  <p>発声、原稿読み、トーク練習、ネットラジオ、などなど盛りだくさんの練習や活動をしております。</p>
                  <p>楽しい活動と愉快な仲間たちの様子をぜひぜひ覗いてみてください！</p>
              
          </div>
      <div class="space-64">
          
      </div>
        <div class="row">
            <div class="col-md-6 ">
                <i class="fas fa-quote-left"></i>
                <div class="quotation">50年の歴史、確かなメソッド。</div>
                <p>初めまして！明治大学アナウンス研究会50期幹事長の木守健爾です。
アナ研は半世紀も続く伝統あるサークルです。だからこそ、我々にしか為せないことがあります。まずは一歩踏み出す勇気を。</p>
                <%= link_to '活動内容', abouts_path, class:"check" %>
            </div>
            <div class="col-md-6 ">
                <%= image_tag 'kimori.jpg', class: "img-responsive center-block" %>
            </div>            
        </div>          
  </div>  
</section>  

<div class="space-96">
    
</div>

<section class="conC">
  <div class="container">
    <div class="line">
            
    </div>   
    <div class="text">
      <h2 class="conC-heading">更新情報</h2>
      <ul class="list-group list-group-flush">
        <% @newsfeeds.each do |newsfeed| %>
        <a href="newsfeeds/<%= newsfeed.id %>">
        <li class="list-group-item borderless"><%= newsfeed.date.strftime("%Y年%m月%d日") %> &nbsp;  <%= newsfeed.title %></li>
         <!--<li class="list-group-item"><%#= newsfeed.date.strftime("%Y年%m月%d日") %>  <%#= newsfeed.title %>  <%#= newsfeed.content %></li>-->
        <% end %>
        <li class="list-group-item borderless"><%= link_to '更新情報一覧', newsfeeds_path, class: "check"%></li></a>
      </ul>
    </div>
  </div>
</section>


<section class="conD" id="contactArea">
  <div class="container contact-container">
    <!--<div class="line">-->
            
    <!--</div>     -->
    <div class="text">
        <div class="page-header">
          <h2>お問い合わせ</h2>
          <p class="inquiry-p">内容により返信に数日かかる場合がございます。予めご了承ください</p>
        </div>
      <%= render 'inquiry/form', post: @inquiry %>
    </div>
  </div>
  <%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-dark" %>
</section>
