<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label "何期生ですか" %>
    <%= f.text_field :gen, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "名前" %>
    <%= f.text_field :lastn, autofocus: true, placeholder: '姓' %><%= f.text_field :firstn, autofocus: true, placeholder: '名'  %>
  </div>
  
  <div class="field">
    <%= f.label "ひながな" %>
    <%= f.text_field :h_lastn, autofocus: true, placeholder: 'せい' %><%= f.text_field :h_firstn, autofocus: true, placeholder: 'めい' %>
  </div>
  
  <div class="field">
    <%= f.label "ユーザーネーム" %>
    <%= f.text_field :username, autofocus: true %>    
  </div>
  <div class="field">
    <%= f.label "学部" %>
    <%= f.text_field :bachelor, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "学科" %>
    <%= f.text_field :major, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "学籍番号" %>
    <%= f.text_field :studno, autofocus: true %>
  </div>  

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label "LINE ID" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label "プロフィール写真" %>
    <%= f.file_field :image %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "新しいパスワード" %> <i>(パスワードを変更しない方は空白のままで。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "パスワード再確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "現在のパスワード"%> <i>(情報を更新した方は現在のパスワードを入力してください。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%= link_to "戻る", :back %>
</div>