<div class="container">
  <h2>会員登録</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label "何期生ですか" %>
    <%= f.text_field :gen, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "名前" %>
    <%= f.text_field :lastn, autofocus: true, placeholder: '姓' %><%= f.text_field :firstn, autofocus: true, placeholder: '名'  %>
  </div>
  
  <div class="field">
    <%= f.label "ひながな" %>
    <%= f.text_field :h_lastn, autofocus: true, placeholder: 'せい' %><%= f.text_field :h_firstn, autofocus: true, placeholder: 'めい' %>
  </div>
  
  <!--<div class="field">-->
  <!--  <%#= f.label "ログインネーム" %>(ログイン用・英数のみ)-->
  <!--  <%#= f.text_field :username, autofocus: true %>    -->
  <!--</div>-->
  <div class="field">
    <%= f.label "学部学科" %>
    <%#= f.text_field :bachelor, autofocus: true %>
    <%= f.select :bachelor,  [['法学部', '法学部'], ['商学部', '商学部'], ['政治経済学部', '政治経済学部'], ['文学部', '文学部'], ['理工学部', '理工学部'] , ['農学部', '農学部'] , ['経営学部', '経営学部'] , ['情報コミュニケーション学部', '情報コミュニケーション学部'] , ['国際日本学部', '国際日本学部'] , ['総合数理学部', '総合数理学部']  ] , {}, {class: "custom-select "} %>
  </div>
  <div class="field">
    <%= f.text_field :major, autofocus: true %>学科
    
  </div>

  <div class="field">
    <%= f.label "学籍番号" %>
    <%= f.text_field :studno, autofocus: true %>
  </div>  

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
    <div class="field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label "パスワード再確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>