<% content_for :css do %>
  <%= stylesheet_link_tag 'newsfeeds' %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="container">
  
  <h1>更新情報</h1>
  <h3>Whats's new</h3>
  
  <div class="news-table">
    <table class="table newsfeed-table" style="font-size: 5pt; line-height: 200%; ">
      <thead>
        <!--<tr>-->
        <!--  <th scope="col">日付</th>-->
        <!--  <th scope="col">タイトル</th>-->
        <!--  <th scope="col">内容</th>-->
        <!--  <% if can? :manage, :newsfeed %>-->
        <!--    <th scope="col">アクション</th>-->
        <!--  <% end %>-->
        <!--</tr>-->
    
      </thead>
    
      <tbody>
        <% @newsfeeds.each do |newsfeed| %>
          <tr>

                <td><%= newsfeed.date %></td>
                <td><a href="newsfeeds/<%= newsfeed.id %>"><%= newsfeed.title %></a></td>
              <!--<td><%#= newsfeed.content %></td>-->

              <% if can? :manage, :newsfeed %>
                <td><%= link_to 'Show', newsfeed %>
                <%= link_to 'Edit', edit_newsfeed_path(newsfeed) %>
                <%= link_to 'Destroy', newsfeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>

              <% end %>
        
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    <% if can? :manage, :newsfeed %>
      <%= link_to 'New Newsfeed', new_newsfeed_path %>
    <% end %>
  </div>
</div>