<% content_for :css do %>
  <%= stylesheet_link_tag 'newsfeeds' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <p id="notice"><%= notice %></p>
    
    <div class="date">
      <%= @newsfeed.date.strftime("%Y年%m月%d日") %>
    </div>
    
    <div class="title">
      <%= @newsfeed.title %>
    </div>
    
    
    
    <div class="content">
      <%= @newsfeed.content %>
      <%= image_tag @newsfeed.image.variant(resize_to_fill:[800,600]).processed, class:'img-fluid' if @newsfeed.image.attached? %>
    </div>
    
    
    <% if can? :manage, :newsfeed %>
    <%= link_to 'Edit', edit_newsfeed_path(@newsfeed) %> |
    <%= link_to 'Back', newsfeeds_path %>
    <% end %>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>