      <tr>
        <td>
            <%= user.id %>
        </td>
        <td>
            <%= user.gen %>
        </td>
        <td>
            <%= user.lastn %><%= user.firstn %>
        </td>
        <td>
            <%= user.h_lastn %><%= user.h_firstn %>
        </td>
        <td>
            <%= user.bachelor %>学部
        </td>
        <td>
            <%= user.major %>学科
        </td>
        <td>
            <%= user.email %>
        </td>
        <td>
                <%= link_to "Edit", edit_user_registration_path(user.id) %> <%= link_to "Show", user_path(user) %>
        </td>
        <!--<td>-->
        <!--    <%# if user.general? %>-->
        <!--        一般-->
        <!--    <%# elsif user.gijutsu_manager? %>-->
        <!--       技術部長-->
        <!--    <%# elsif user.admin? %>-->
        <!--        管理員-->
        <!--    <%# end %>-->
        <!--</td>-->
      </tr>