      <tr>
        <td>
             <% if user.image.blank? %>
                    <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '100', :height => 'auto' %>
                <% else %>
                   <%= image_tag user.image, :width => '100', :height => 'auto' %>
                <% end %>   
        </td>
        <td>
            <%= user.gen %>
        </td>
        <td>
            <%= user.lastn %><%= user.firstn %>
        </td>
        <td>
            <%= user.h_lastn %><%= user.h_firstn %>
        </td>
        <td>
            <% if current_user.admin? || current_user.fuku_kan? ||  current_user.gijutsu_hp? %>
                <%= user.studno %>
            <% end %>            
        </td>
        <td>
            <%= user.bachelor %>
        </td>
        <td>
            <%= user.major %>学科
        </td>
        <td>
            <%= user.email %>
        </td>
        <td>
            <% if user.confirmable? %>
               承認待ち
            <% elsif user.member? %>
                一般会員
            <% elsif user.ob? %>
                OB
            <% elsif user.shibuchou? %>
            支部長
            <% elsif user.fuku_shibuchou? %>
            副支部長
            <% elsif user.shougai_sup? %>
            渉外補佐
            <% elsif user.shougai? %>
            渉外部長
            <% elsif user.shougai_manager? %>
            渉外部長部長
            <% elsif user.gijutsu_sup? %>
            技術補佐
            <% elsif user.gijutsu? %>
            技術部長
            <% elsif user.gijutsu_hp? %>
            技術部長(HP)
            <% elsif user.gijutsu_manager? %>
            技術部長部長
            <% elsif user.practise? %>
            練習部長
            <% elsif user.practise_manager? %>
            練習部長部長
            <% elsif user.accountant? %>
            会計
            <% elsif user.editor? %>
            編集
            <% elsif user.editor_manager? %>
            編集部長
            <% elsif user.soumu? %>
            総務
            <% elsif user.soumu_manager? %>
            総務部長
            <% elsif user.fuku_kan? %>
            副幹事長
            <% elsif user.fuku_kan_gi? %>
            副幹事長・技術部長
            <% elsif user.fuku_kan_so? %>
            副幹事長・総務
            <% elsif user.fuku_kan_sho? %>
            副幹事長・渉外部長
            <% elsif user.fuku_kan_edi? %>
            副幹事長・編集
            <% elsif user.kanjichou? %>
            幹事長
            <% elsif user.fuku_kan_pra? %>
               副幹事長・練習部長
            <% elsif user.admin? %>
                管理員
            <% end %>
        </td>
        <td>
            <% if current_user.admin? || current_user.fuku_kan? || current_user.kanjichou? %>
                <%= link_to "Edit", edit_user_path(user.id) %>
            <% end %>
        </td>        
      </tr>