        <div class="container">
          <%= form_tag(users_path, method: "get") do %>
          <%= select_tag(:gen, @gen) %>
          <%#= collection_select(:gen, @gen, :id, :name, selected: @search_params[:gen], include_blank: t('helpers.select.include_blank')) %>
          <%= submit_tag "絞り込み" %>

          <%# @users.each do |user| %>
            <%#= user %>              
          <%# end %>
          <% end %>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">期生</th>
                  <th scope="col">お名前</th>
                  <th scope="col">ふりがな　</th>
                  <% if current_user.admin? || current_user.fuku_kan? %>
                  <th scope="col">学籍番号</th>
                  <% end %>
                  <th scope="col">学部</th>
                  <th scope="col">学科</th>
                  <th scope="col">メール</th>
                  <th scope="col">Role</th>
                  <% if current_user.admin? || current_user.fuku_kan? %>
                    <th scope="col">Edit/delete</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                
                  <%= render @users %>
              
              </tbody>
            </table>
            <%= paginate @users %>
        </div>