<% content_for :css do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>
<div class="container">
    <section class="greeting">
        <% if current_user.general? %>
          <h1>ただいま承認待ちです。</h1>
        <% else %>
            <h1>お帰りなさい。<%= @user.lastn %><%= @user.firstn %></h1>
        <% end %>  
    </section>
    <section class="user-table">
        <div class="row">

            <div class="user-left col-md-4">
                <div class="container">
                
                
                    <p><% if @user.image.blank? %>
                        <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '200', :height => 'auto' %>
                    <% else %>
                       <%= image_tag @user.image, :width => '200', :height => 'auto' %>
                    <% end %></p>
                    <h3><%= @user.gen %>期 &nbsp; <%= @user.lastn %><%= @user.firstn %></h3>
                
                
                <div class="row">
                    
                    <h3><%= @user.bachelor %>学部</h3>
                    <h3><%= @user.major %>学科</h3>
                    <h3>        
            <% if @user.confirmable? %>
               承認待ち
            <% elsif @user.member? %>
                一般会員
            <% elsif @user.shibuchou? %>
            支部長
            <% elsif @user.fuku_shibuchou? %>
            副支部長
            <% elsif @user.shougai_sup? %>
            渉外補佐
            <% elsif @user.shougai? %>
            渉外部長
            <% elsif @user.shougai_manager? %>
            渉外部長部長
            <% elsif @user.gijutsu_sup? %>
            技術補佐
            <% elsif @user.gijutsu? %>
            技術部長
            <% elsif @user.gijutsu_hp? %>
            技術部長(HP)
            <% elsif @user.gijutsu_manager? %>
            技術部長部長
            <% elsif @user.practise? %>
            練習部長
            <% elsif @user.practise_manager? %>
            練習部長部長
            <% elsif @user.accountant? %>
            会計
            <% elsif @user.editor? %>
            編集
            <% elsif @user.editor_manager? %>
            編集部長
            <% elsif @user.soumu? %>
            総務
            <% elsif @user.soumu_manager? %>
            総務部長
            <% elsif @user.fuku_kan? %>
            副幹事長
            <% elsif @user.fuku_kan_gi? %>
            副幹事長・技術部長
            <% elsif @user.fuku_kan_so? %>
            副幹事長・総務
            <% elsif @user.fuku_kan_sho? %>
            副幹事長・渉外部長
            <% elsif @user.fuku_kan_edi? %>
            副幹事長・編集
            <% elsif @user.kanjichou? %>
            幹事長
            <% elsif @user.fuku_kan_pra? %>
               副幹事長・練習部長
            <% elsif @user.admin? %>
                管理員
            <% end %><%= @user.role %></h3>
                    
                    <div class="profile-edit">
                        <%= link_to 'プロフィールを編集する', edit_user_registration_path %>
                    </div>
                    
                    </div>
                </div>
            </div>
    
        <div class="user-right col-md-offset-1 col-md-7">
            <div class="user-menu">
                <div class="row">

                    <div class="youtube col-xs-6">
                         <%= link_to "歴代番発", youtube_posts_path , class:"check" %>
                         <%#= link_to image_tag("logo.png", size: '40x40'), "https://drive.google.com/drive/folders/17q0nL9AaP6jpS_UNcPf2YnFBY3aBmaNN?usp=sharing" %>
                         <%#= link_to "機材一覧", youtubes_path %>
                    </div>
                    <div class="col-xs-6">
                    <% if can? :read, :member_list %>
                        <%= link_to "ユーザー一覧", users_path, class:"check"  %>
                    <% end %>
                    </div>                    
                </div>
                <div class="row">
                    <div class=" col-xs-6">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class:"check" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
</div>

