<nav class="navbar navbar-expand-md  navbar-light navbar-fixed-top" style="background-color: #FFF;">
        
        <!--<div class="navbar-header">-->
        <ul class="navbar-nav mr-auto">
            <li id="menu-item-444" class="menu-item">
                <%= link_to image_tag("logo.png", size: '40x40'), root_path %>
            </li>
        </ul>    
        <button
            class = "navbar-toggler"
            type = "button"
            data-toggle = "collapse"
            data-target = "#navbarSupportedContent"
            aria-controls = "navbarSupportedContent"
            aria-expanded = "false"
            aria-label = "Toggle navigation"
            >
            <span class= "navbar-toggler-icon"></span>
        </button>
        
        <div id="navbarSupportedContent" class="navbar-collapse collapse oswald-300">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
            
			<ul class = "navbar-nav">
			    <li id="menu-item-444" class="menu-item mr-2">
			        <%= link_to "仮入会はこちら", inquiry_path ,class:"btn btn-warning" %>
			    </li>
                <li id="menu-item-444" class="menu-item mr-2">
                    <%= link_to "About", abouts_path, style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                </li>
                <li id="menu-item-444" class="menu-item mr-2">
                    <%= link_to "お問い合わせ", inquiry_path , style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                </li>
                <li id="menu-item-444" class="menu-item mr-2">
                    <%= link_to "ブログ", "http://makboxnote.blog.fc2.com/", style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                </li>                
                <li id="menu-item-444" class="menu-item mr-2">
                    <%= link_to "Twitter","https://twitter.com/meiji_ak", style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                </li>
                <% if !user_signed_in? %>
                    <li id="menu-item-444" class="menu-item mr-2">
                        <%= link_to "ログイン", new_user_session_path , style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                    </li>
                <%  elsif user_signed_in?  %>
                    <li id="menu-item-444" class="menu-item mr-2">
                                <% if current_user.confirmable? %>
                                    <p>承認待ち</p>
                                <% else %>
                                    <%= link_to "マイページ", user_path(:id), style: 'color:#333333;' ,class:"btn btn-outline-secondary" %>
                                <% end %>
                    </li>
                    <!--<li id="menu-item-444" class="menu-item mr-2">-->
                    <!--    <%#= link_to "ログアウト", destroy_user_session_path, method: :delete , style: 'color:#333333;' ,class:"btn btn-outline-secondary"%>-->
                    <!--</li>                    -->
                        <!--<li class="nav-item menu-item dropdown" id="menu-item-444">-->
                        <!--  <a class="btn btn-outline-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--    メンバー-->
                        <!--  </a>-->
                        
                          <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
                          <!--  <a class="dropdown-item" href="#">Action</a>-->
                          <!--  <a class="dropdown-item" href="#">Another action</a>-->
                          <!--  <div class="dropdown-divider"></div>-->
                          <!--  <a class="dropdown-item" href="#">Something else here</a>-->
                          <!--</div>-->
                        
                        <!--  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
                        <!--    <div class="dropdown-item">-->
                        <!--        <%# if current_user.confirmable? %>-->
                        <!--            承認待ち-->
                        <!--        <%# else %>-->
                        <!--            <%#= link_to "マイページ", user_path(:id), class:"text-dark" %>-->
                        <!--        <%# end %>-->
                        <!--    </div>-->
                        <!--    <div class="dropdown-divider"></div>-->
                        <!--    <div class="dropdown-item">-->
                        <!--        <%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-dark" %>-->
                        <!--    </div>-->
                        <!--  </div>-->
                        <!--</li>-->
                <% end %>
			</ul>
		</div>
        <!--<div class= "collapse navbar-collapse" id= "navbarSupportedContent">-->
        <!--    <ul class = "navbar-nav ml-auto">-->
        <!--</div>-->
    <!--</div>-->
</nav>

